@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-background: #FAFAFA;
  --color-surface: #FFFFFF;
  --color-text-primary: #111827;
  --color-text-secondary: #6B7280;
  --color-accent: #4F46E5;
  --color-border: #E5E7EB;
}

/* Set the base styles for the whole app */
body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}